@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center mt-5">
    <h1 class="display-5 font-monospace fw-bolder" style="margin-top:270px";>Welcome To Library Management System</h1>
   
</div>
