@model LibraryManagementSystem_MileStone_1.Models.Borrow

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Borrow</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" class="btn btn-primary">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BorrowId" />
            <div class="form-group">
                <label asp-for="StudentId" class="control-label"></label>
                <select asp-for="StudentId" class="form-control" asp-items="ViewBag.StudentId"></select>
                <span asp-validation-for="StudentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BookId" class="control-label"></label>
                <select asp-for="BookId" class="form-control" asp-items="ViewBag.BookId"></select>
                <span asp-validation-for="BookId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TakenDate" class="control-label"></label>
                <input asp-for="TakenDate" class="form-control" />
                <span asp-validation-for="TakenDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BroughtDate" class="control-label"></label>
                <input asp-for="BroughtDate" class="form-control" />
                <span asp-validation-for="BroughtDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-primary"  asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
